<% @links.each do |link| %>
<div class="link-container">
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %> from <%= link_to link.category.cat_name, link.category %></small>
    </h2>

    <% if link.url.start_with?('http://') && @allowed_extensions.any?{ |ext| link.url.end_with?(ext) } %>
      <% @img = link.url %>
      <div class="btn-group">
        <div class="btn btn-default btn-sm img-show-btn" href="<%= link.url %>">
          <span class="glyphicon glyphicon-picture"></span></div>
    <% elsif link.url.include? "youtube.com/watch" %>
      <% @vid = link.url.sub! 'watch?v=', 'embed/' %>
      <div class="btn-group">
       <div class="btn btn-default btn-sm img-show-btn" href="<%= link.url %>">
           <span class="glyphicon glyphicon-facetime-video"></span></div>
    <% else %>
     <% @img = nil %>
     <% @vid = nil %>
       <div class="btn-group">
        <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
    <% end %>


     <%= link_to like_link_path(link), method: :put, remote: true, class: "btn btn-default btn-sm vote" do %>
       <span class="glyphicon glyphicon-chevron-up"></span>
       Upvote
       <span class="votes upcount"><%= link.get_upvotes.size %></span>
     <% end %>
     <%= link_to dislike_link_path(link), method: :put, remote: true, class: "btn btn-default btn-sm vote" do %>
       <span class="glyphicon glyphicon-chevron-down">
       Downvote
       <span class="votes downcount"><%= link.get_downvotes.size %></span>
     <% end %>

     <div class="btn btn-default btn-sm">
        <%= link_to link.comments.size, link %> Comments
     </div>

   </div>
  <div>

  <% if @img %>
    <div class="img-index-container">
      <a href="<%= link.url %>"><img src="<%= @img %>"></a>
    </div>
  <% elsif @vid %>
    <div class="img-index-container">
      <iframe width="640" height="390" src="<%= @vid %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>
  </div>

<% end %>
